<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h2 th:text="${post.getTitle()}"></h2>

        <h4 th:text="${post.getContent()}"></h4>

        <div>

        </div>
            <p>댓글</p>
            <div th:each="comment : ${post.getComment()}">
                <div th:text="${comment.getContent()}"></div>
            </div>

        <div>
        <label>댓글 작성</label>
        <form th:action="@{{id}(id=${post.getId()})}"   method="post">

            <!-- 내용 입력 필드 -->
            <div class="form-group">
                <textarea id="content" name="content" placeholder="내용을 입력하세요" ></textarea>
            </div>

            <!-- 제출 버튼 -->
            <button type="submit">등록</button>
        </form>
        </div>

        <div>
            <button onclick="location.href='/baseball/freeboard'">뒤로가기</button>
        </div>

        <div>
            <button type="button" th:onclick="|location.href='@{/baseball/freeboard/delete(id=${post.getId()})}'|">글 삭제</button>
        </div>

        <div>
            <a th:href="@{/baseball/freeboard/modify/{id} (id=${post.getId()})}">글 수정</a>
        </div>

</body>
</html>